@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #04230a;
  color: #fff;
  padding: 0px 20px;
}

.head-link {
  text-decoration: none;
  color: white;
}
.head-link h1 {
  margin: 0;
}

#logo {
  width: 90px;
  margin: 10px 0;
  height: auto;
}

.contact-info {
  text-align: right;
}

.contact-info a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #ff4500;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 0;
  z-index: 10;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  padding: 15px 0;
  display: block;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.menu-toggle:hover {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 81px;
    left: 0;
    background-color: #04230a;
    padding: 20px;
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .ap-container p {
    padding: 0;
  }
  .ap-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .service-cards {
    justify-content: center;
  }

  .slide {
    padding: 30px 10px !important;
  }
}

.main {
  background: url("../img/hero.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
  padding: 30px;
  max-width: 900px;
  margin: auto;
  z-index: 2;
  position: relative;
}

.hero-content h1 {
  color: white;
  text-align: center;
}

.hero-content p {
  text-align: justify;
  color: white;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 500;
}

.hero-content h1 {
  font-size: 3em;
}

.form-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
  justify-content: space-between;
}

.estimate-form {
  z-index: 3;
  background-color: rgb(0, 152, 0);
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 0;
}

.estimate-content {
  z-index: 3;
  color: white;
}

.estimate-form h2 {
  margin-top: 0;
  color: white;
}

.estimate-form label {
  display: block;
  margin: 10px 0 5px;
}

.estimate-form input,
.estimate-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}
.estimate-form input:focus {
  outline: none;
}

.btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 4px;
  bottom: 0;
}

footer p {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: #34495e;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(39, 183, 99);
}

#error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.map-section {
  padding: 20px;
}

.map-box {
  margin: 30px auto;
  max-width: max-content;
}

.map-container {
  max-width: max-content;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 10px;
  overflow: hidden;
}

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 16px;
  border: 1px solid rgb(15, 124, 65);
  border-radius: 4px;
  text-align: center;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}

.toast-close {
  cursor: pointer;
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

.toast-close:hover {
  color: #f1f1f1;
}
